*.aux
*.log
/docs/specification/owl.tex
/docs/owl.wiki/
*~
/src/OwlCore/OwlCore.cabal
/src/OwlCore/src/Parser/Lexer.hs
*.lock
/owl.cabal
/stack.yaml
/src/OwlCore/Parser/Lexer.hs
/.stack-work/

*.agdai